.hidden {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

/* reset */
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

img {
    display: block;
    /* width: 100%; */
    height: auto;
}

a {
    text-decoration: none;
    color: #2e2f42;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}

/* common */
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-list,
.contacts {
    display: none;
}

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: auto;
}

.nav-logo {
    padding: 16px 0;
    display: block;
}

.dark-logo {
    color: #2e2f42;
}

.burger-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;

}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .nav-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .dark-logo {
        color: #2e2f42;
    }

    .nav-subtitle {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-subtitle.current {
        position: relative;
    }

    .nav-subtitle.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    }

    .contacts {
        font-style: normal;
        display: block;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-subtitle:hover,
    .nav-subtitle:focus,
    .contacts-link:hover,
    .contacts-link:focus,
    .nav-subtitle.current {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* section1-HERO */
.heroimage {
    max-width: 1440px;
    padding: 72px 0 72px;
    margin: 0 auto;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heroimage-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    padding: 72px auto;
    max-width: 216px;
    align-items: center;
    display: block;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;

}

@media screen and (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .heroimage {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg_mob@2x.jpg);
    }
}

.button {
    display: block;
    text-align: center;
    height: 56px;
    flex-direction: row;
    border-radius: 4px;
    border: 0px;
    padding: 16px 32px;
    min-width: 169px;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    color: #fff;
}

.button-accent {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-accent:hover,
.button-accent:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .heroimage {
        padding: 112px 0 112px;
    }

    .heroimage-title {
        font-family: "Roboto", sans-serif;
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
        padding: 136px auto;
    }
}

@media screen and (min-width: 768px) {
    @media screen and (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .heroimage {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg_tab@2x.jpg);
        }
    }
}


@media screen and (min-width: 1158px) {
    .heroimage {

        max-width: 1440px;
        padding: 188px 0 188px;
        margin: 0 auto;
    }

    .heroimage-title {
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 1158px) {
    @media screen and (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .heroimage {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\ 1_desk@2x.jpg);
        }
    }
}

/* section2-benefits */
.benefits {
    padding: 96px 0;
}

.benefits-icon {
    display: none;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.benefits-subtitle {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.benefits-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {

    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .benefits-item {
        width: calc((100% - 24px) / 2);
    }

    .benefits-subtitle {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .benefits {
        padding: 120px 0;
    }

    .benefits-list {
        display: flex;
        gap: 24px;
        justify-content: center;

    }

    .benefits-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        margin-bottom: 8px;

    }

    .benefits-item {
        width: calc((100% - 72px) / 4);
    }

    .benefits-subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .benefits-text {
        font-weight: 400;
    }
}

/* section3 - team */

.team {
    padding: 96px 0;
    display: flex;
    align-items: center;
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}

.team-item {
    justify-content: center;
    border-radius: 0 0 4px 4px;
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-wrap {
    padding: 32px 0;
}

.team-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;

}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 12px;
    width: 40px;
    height: 40px;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-footer.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 12px;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover,
.social-links:focus {
    background-color: #404bbf;
}

.icon-social {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .team .container {
        padding: 0 108px;
    }

    .team-list {
        gap: 64px 24px;
    }

    .team-item {
        flex-basis: calc((100% - 72px) / 2);
    }
}


@media screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }

    .team .container {
        padding: 0 15px;
    }

    .team-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .team-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        background-color: #f4f4fd;

    }
}

/* section4 -portfolio */

.portfolio {
    padding: 96px 0;
}

.portfolio-title {
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 48px;
    flex-direction: column;
}

.portfolio-wrapper {
    overflow: hidden;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
    transform: translateY(100%);
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.portfolio-profi {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 288px;
    height: 120px;
    border-top: none;
}

.portfolio-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }

    .portfolio-profi {
        width: 356px;
    }

    .portfolio-item {
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio {
        padding: 120px 0;
    }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        padding: 0;
    }

    .portfolio-item {
        height: 100%;
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item .portfolio-wrapper:hover .overlay {

        transition-property: transform;
        transform: translateY(0%);
    }

    .portfolio-item:hover {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;

    }

    .portfolio-profi {
        width: 360px;
    }
}

/* footer */
.footer {
    padding: 96px 0;
    background-color: #2e2f42;
    display: flex;
    flex-wrap: wrap;
}

.footer-logo {
    padding: 0 0;
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
}

.nav-logo.footer-logo {
    color: #4d5ae5;
}

.nav-logo .light-logo {
    color: #f4f4fd;
}

.footer-text {

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 288px;
    margin-bottom: 72px;
}

.social-footer-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    letter-spacing: 0.02em;
    padding: 0 0;
    text-align: center;
}

.social-list.footer {
    padding: 0;
    gap: 16px;
    margin-bottom: 72px;
}

.subscrabe-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

}

.form-subscrabe {
    display: flex;
    flex-wrap: wrap;

}

.footer-caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.subscrabe-lable {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    margin-bottom: 16px;
}

.subscrabe-input {
    color: #fff;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    opacity: 0.6;
    padding: 8px 16px;
    background-color: transparent;
}

.footer-btm {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    background-color: #4d5ae5;
    color: #fff;
}

.icon-tg {
    margin-left: 16px;
    fill: #fff;
}

.subscribe-input::placeholder {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 96px 108px;
    }

    .footer .container {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
        align-items: baseline;
    }

    .footer-text {
        width: 264px;
        margin: 0;
    }

    .footer-wrapper {
        margin: 0;
    }

    .footer-caption {
        text-align: start;
        margin-bottom: 16px;
    }

    .social-list.footer {
        margin-bottom: 0;
    }

    .footer-logo,
    .social-footer-text,
    .footer-caption {
        text-align: start;
    }

    .subscrabe-lable {
        margin-right: 24px;
        margin-bottom: 0;
        width: 264px;
    }

    .form-subscrabe {
        display: flex;
        flex-direction: row;
    }

    .subscrabe-block {
        display: block;
    }

    .subscrabe-input {
        width: 264px;
        border: 1px solid #fff;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        font-weight: 400;

        margin-bottom: 0;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }

    .container {
        min-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .footer-wrapper {
        margin-right: 120px;
    }

    .footer-soc {
        margin-right: 80px;
    }

    .footer .container {
        gap: 0;
    }

    .subscrabe-input {
        opacity: 1;
    }

    .subscribe-input::placeholder {
        opacity: 1;
    }
}

/* Modal window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 100;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 623px;
    width: 288px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    padding: 72px 16px 24px 16px;
    transition-property: opacity, transform;
    transition-delay: 0ms;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    transition-property: border, background-color;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-btn:hover,
.modal-btn:focus {
    border-color: #404BBF;
    background-color: #404BBF;
    border: none;
}

.modal-btn:hover .modal-btn-close,
.modal-btn:focus .modal-btn-close {
    fill: #fff;
}

.modal-btn-close {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.modal-form-field {
    margin-bottom: 8px;
}

.modal-form-field-lable {
    margin-bottom: 16px;
}

.modal-form-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.model-form-wrapper {
    position: relative;
}

.modal-form-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    padding: 8px 34px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}

.modal-form-input:focus {
    border-color: #4D5AE5;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    stroke: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form-icon {
    fill: #4D5AE5;
}

.modal-form-message {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    resize: none;
    padding: 8px 16px;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;
}

.modal-form-message:focus {
    border-color: #4D5AE5;
}

.modal-form-message::placeholder {
    opacity: 0.5;
}

@media screen and (min-width: 768px) {
    .modal {
        min-height: 584px;
        width: 408px;
        padding: 72px 24px 24px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .modal-form-input {
        padding: 8px 38px;
    }
}

/* custom checkbox */

.modal-form-agreement {
    margin-bottom: 24px;
}

.modal-label-rules {
    display: flex;
    align-items: center;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 24px;
}

.modal-form-agreement-text {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.modal-form-checkbox {
    position: relative;
    display: inline-flex;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

input[type="checkbox"]:checked+.modal-form-agreement-text>.modal-form-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.modal-form-agreement-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}


.btn button-accent {
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
}

.btn {
    display: block;
    text-align: center;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* mobile menu */

.mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100%);
}

.mobile.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: transparent;
}

@media not (hover: hover) {
    .mobile-menu-btn:active .svg-close {
        fill: #fff;
    }
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;

}

.mobile-menu-list:active,
.active {
    color: #404bbf;
}

.mobile-menu-item.active {
    color: #404bbf;
}

.mobile-menu-adr {
    margin-bottom: 48px;
}

.mobile-menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu-item {
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.mobile-menu-socials {
    display: flex;
    justify-content: flex-start;
    gap: 40px;

}

.social-links.mobile-links {
    width: 40px;
    height: 40px;
}

.mobile-menu-socials .social-links {
    border-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

@media screen and (min-width: 768px) {
    .mobile {
        display: none;
    }
}